importFrom("graphics", "hist", "layout", "par")
importFrom("stats", "as.dist", "dist", "dnorm", "na.omit", "rnorm",
             "sd")
importFrom("utils", "flush.console", "read.table", "write.table")
export(generate.Artificial.Data)
export(STEPCAM_ABC)
export(TernPlot)
export(plotSTEPCAM)
export(plotSMC)

export(getRandomVals)
export(getFromPrevious)
export(calculateWeight)
export(normalizeWeights)
export(perturb)
export(calculateDistance)
export(plot_element)
export(ordinationAxes)
export(detMnbsp)
export(strippedDbFd)
export(calcSD)
export(generateFrequencies)
export(scaleSpeciesvalues)
export(generateValues)
export(fallout.dispersal)
export(fallout.filtering)
export(fallout.competition)
export(STEPCAM)
export(ternaryplot2)

